In [1]:
import pandas as pd

/var/folders/hh/6z7j1dq90fgg9yk98vjm32140000gn/T/ipykernel_49912/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
image_data_df = pd.read_csv("/Users/puneetgautam/Downloads/abc.csv")

In [4]:
    image_data_df = image_data_df.dropna()

In [5]:
image_data_df

,depth,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col191,col192,col193,col194,col195,col196,col197,col198,col199,col200
0,9000.1,224.0,224.0,224.0,224.0,224.0,224.0,224.0,224.0,224.0,...,224.0,225.0,226.0,225.0,224.0,223.0,221.0,220.0,217.0,217.0
1,9000.2,224.0,224.0,224.0,224.0,224.0,224.0,224.0,224.0,224.0,...,224.0,225.0,226.0,225.0,224.0,223.0,222.0,221.0,219.0,219.0
2,9000.3,224.0,224.0,224.0,224.0,224.0,224.0,224.0,224.0,224.0,...,224.0,225.0,226.0,226.0,225.0,224.0,224.0,223.0,223.0,223.0
3,9000.4,224.0,224.0,224.0,224.0,224.0,224.0,224.0,224.0,224.0,...,224.0,225.0,226.0,226.0,225.0,225.0,225.0,225.0,225.0,225.0
4,9000.5,224.0,224.0,224.0,224.0,224.0,224.0,224.0,224.0,224.0,...,225.0,224.0,223.0,223.0,224.0,224.0,225.0,225.0,225.0,225.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5455,9545.6,203.0,202.0,199.0,195.0,193.0,190.0,188.0,186.0,181.0,...,182.0,185.0,186.0,186.0,187.0,185.0,182.0,176.0,171.0,169.0
5456,9545.7,209.0,206.0,199.0,194.0,195.0,195.0,189.0,187.0,198.0,...,188.0,195.0,200.0,203.0,201.0,185.0,166.0,164.0,169.0,170.0
5457,9545.8,184.0,188.0,198.0,205.0,205.0,203.0,197.0,193.0,201.0,...,185.0,186.0,189.0,195.0,197.0,184.0,168.0,167.0,173.0,174.0
5458,9545.9,147.0,161.0,195.0,218.0,218.0,212.0,207.0,201.0,197.0,...,177.0,169.0,167.0,175.0,183.0,182.0,178.0,177.0,179.0,180.0
5459,9546.0,131.0,149.0,194.0,225.0,223.0,216.0,211.0,204.0,196.0,...,174.0,162.0,157.0,167.0,178.0,181.0,181.0,182.0,182.0,182.0

In [7]:
from PIL import Image

image_data_df.iloc[:, 1:] = image_data_df.iloc[:, 1:].apply(
            lambda row: list(Image.fromarray(row.values.reshape(1, -1), 'L').resize((150, 1)).getdata()), axis=1
        )

ValueError: Must have equal len keys and value when setting with an iterable